.main .description {
  white-space: pre-line;
}

.main {
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}
/* 
    Left Section
*/

.main section.left {
  gap: 10px;
  position: sticky;
  top: 0;
  background-color: var(--secondary);
  transition: transform 0.3s ease;
}
/* hide nav of filters [section.left] */
@media (max-width: 767px) {
  .hidden-nav {
    transform: translateY(-110%);
  }
}
.main section.left button {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem;
  font-size: 16px;
  color: #fff;
  opacity: 0.5;
  border-radius: var(--rad-6);
  border: none;
  transition: 0.3s;
  font-weight: 600;
}
@media (max-width: 767px) {
  .main section.left button {
    width: fit-content;
    padding: 8px;
    margin: 10px 0;
  }
}
.main section.left button:hover {
  opacity: 1;
}

.main section.left button.active {
  border: 2px solid var(--blue);
  opacity: 1;
}
.light-mode .main section.left button.active {
  opacity: 1;
}
/* 
    Right Section
*/
.main section.right {
  flex-grow: 1;
  min-width: 200px;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.main section.right .project {
  width: 280px;
  border: 1px solid var(--border);
  border-radius: var(--rad-6);
  transition: 0.5s;
  /* transition: 0.3s; */
  cursor: pointer;
}
.dark-mode .main section.right .project {
  border: 1px solid var(--blue-transparent);
}
.main section.right .project:hover {
  border: 1px solid var(--subtitle);
  transform: rotate(0.8deg) scale(1.01);
}
.dark-mode .main section.right .project:hover {
  border: 1px solid var(--blue);
}
.main section.right .project img {
  width: 280px;
  border-top-left-radius: var(--rad-6);
  border-top-right-radius: var(--rad-6);
}
.main section.right .project .box {
  padding: 1rem 0.5rem 0;
  justify-content: flex-start;
  align-items: flex-start;
}
.main section.right .project .box p {
  margin: 0.7rem 0;
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.4rem;
  width: 260px; /* تحديد عرض العنصر */
  overflow: hidden;

  /* ===-webkit-browsers=== */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* إظهار سطرين فقط */
  text-overflow: ellipsis; /* إضافة النقاط في النهاية */

  /* ====For non-webkit-browsers ==== */
  /* تحديد ارتفاع العنصر ليشمل سطرين فقط */
  max-height: calc(1.4rem * 2);
}
.main section.right .project .technologies {
  flex-wrap: wrap;
  gap: 5px;
}
.main section.right .project .technologies span {
  color: var(--title);
  font-weight: bold;
  font-size: 15px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: var(--bg-technologies);
}
.main section.right .project .links {
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px solid var(--border);
}
.main section.right .project .links div.flex a span {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--subtitle);
  transition: 0.3s;
}
.main section.right .project .links div.flex .more {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--subtitle);
  transition: 0.3s;
  margin-right: 0.1rem;
}
.main section.right .project .links div.flex .more:hover,
.main section.right .project .links div.flex a span:hover {
  color: var(--title);
}
/* 
    Media Query
*/

@media (max-width: 767px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main section.left {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    position: sticky;
    width: 100%;
    z-index: 10;
    border-radius: 5px;
    /* box-shadow: 0px 2px 3px 0px var(--filter-shadow); */
    box-shadow: 1px 1px 10px var(--filter-shadow),
      inset 0px 0px 4px 0px var(--filter-shadow);
  }
}
