.project {
  width: 280px;
  border: 1px solid var(--border);
  border-radius: var(--rad-6);
  transition: 0.5s;
  cursor: pointer;
}
.dark-mode .project {
  border: 1px solid var(--blue-transparent);
}
.project:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 10px var(--filter-shadow);
}
.light-mode .project:hover {
  border: 1px solid var(--subtitle);
}
.dark-mode .project:hover {
  border: 1px solid var(--blue);
}
.projectImg {
  width: 280px;
  height: 190px;
  border-top-left-radius: var(--rad-6);
  border-top-right-radius: var(--rad-6);
  object-fit: cover;
}
.box {
  padding: 1rem 0.5rem 0;
  justify-content: flex-start;
  align-items: flex-start;
}
.project .box .description {
  margin: 0.7rem 0;
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.4rem;
  width: 260px;
  overflow: hidden;

  /* makes \n && spaces works in react */
  white-space: pre-line;

  /* ===-webkit-browsers=== */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* إظهار سطرين فقط */
  text-overflow: ellipsis; /* إضافة النقاط في النهاية */

  /* ====For non-webkit-browsers ==== */
  /* تحديد ارتفاع العنصر ليشمل سطرين فقط */
  max-height: calc(1.4rem * 3);
}
.main section.right .project .technologies {
  flex-wrap: wrap;
  gap: 5px;
}
.main section.right .project .technologies span {
  color: var(--title);
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: var(--bg-technologies);
}
.project .links {
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px solid var(--border);
}
.project .links .icon {
  font-size: 1.5rem;
}
.project .links .icon {
  font-weight: bold;
  color: var(--subtitle);
  transition: 0.3s;
}
.project .links .icon:hover {
  color: var(--title);
}
