.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.flex-grow {
  flex-grow: 1;
}
.gap-10 {
  gap: 10px;
}
/*  */
.block {
  display: block;
}
/*  */
.border {
  inset: 0;
  border: 2px solid red;
}
/*  */
.p-relative {
  position: relative;
}
/*  */
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
