@import "./framework.css";

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-VariableFont_wdth\,wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
}
button:active {
  scale: 0.97;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

:root {
  --icon-hover: #d4d4d8;
  --orange: #ff8c00;
  --rad-6: 6px;
  --container-padding: 1.5rem;
}
.light-mode {
  --secondary: rgb(255, 255, 255);
  --primary: rgb(250, 250, 250);
  --title: #27272a;
  --subtitle: rgb(82 82 91);
  --border: #e4e4e4;
  --color: #27272a;
  --bg-header-nav: #fdfdfd;
  --bg-technologies: #eaeaea;
  --filter-shadow: rgb(161 161 170);
}
.dark-mode {
  --primary: #000;
  --secondary: rgb(24, 24, 27);
  --filter-shadow: rgb(93, 188, 252);
  --subtitle: rgb(161 161 170);
  --title: rgb(244 244 245);
  --border: rgba(63, 63, 70, 0.4);
  --blue: rgb(93, 188, 252);
  --blue-transparent: rgba(93, 188, 252, 0.3);
  --bg-header-nav: #27272a;
  --color: #f4f4f5;
  --bg-technologies: #252525;
}
body {
  background-color: var(--primary);
  color: var(--title);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
body .moon,
.sun {
  display: none;
}
body.dark-mode .moon {
  display: inline-block;
}
body.light-mode .sun {
  display: inline-block;
}
.container {
  width: 80%;
  margin: 2px auto;
  background-color: var(--secondary);
  color: var(--title);
  border: solid 2px var(--border);
  padding-inline: var(--container-padding);
}
.border-line {
  width: calc(100% + var(--container-padding) + var(--container-padding));
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  margin-left: calc(var(--container-padding) * -1);
}

/* 
Scrollbar
*/

::-webkit-scrollbar {
  width: 0.88rem;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--filter-shadow);
  border-radius: 10px;
}

/* 
Media Query
*/
@media (max-width: 767px) {
  .container {
    --container-padding: 1rem;
    width: 85%;
    padding-inline: var(--container-padding);
  }
  .border-line {
    width: var(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
  }
}
@media (min-width: 1199px) {
  .container {
    --container-padding: 3rem;

    width: 70%;
    padding-inline: var(--container-padding);
  }
  .border-line {
    width: var(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
  }
}
