header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  margin-top: 20px;
  margin-bottom: 50px;
}
header nav ul.flex {
  background-color: var(--bg-header-nav);
  gap: 16px;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 1px 1px 30px var(--filter-shadow),
    inset 0px 0px 3px 0px var(--filter-shadow);
}
header ul li a {
  color: var(--title);
  letter-spacing: 0.3px;
  font-size: 0.8rem;
  font-weight: 500;
}
header ul li a:hover {
  color: var(--blue);
  font-weight: 900;
  transition: 0.2s;
}
header button {
  font-size: 1.2rem;
  width: 42.4px;
  height: 42.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1.6px solid #fea50136;
  color: var(--subtitle);
  transition: 0.2s;
}
header .menu:hover,
header .toggle-mode:hover {
  border: 1.6px solid var(--orange);
  color: var(--color);
}
header .icon-sun {
  color: var(--orange);
}
body .moon,
.sun {
  display: none;
}
body.dark-mode .moon {
  display: inline-block;
}
body.light-mode .sun {
  display: inline-block;
}

/* 
  overlay
  &&
  pop up menu
*/

header .overlay {
  inset: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(40, 40, 48, 0.95);
  backdrop-filter: blur(2px);
}
header ul.modal {
  width: 65%;
  border-radius: 1rem;
  margin: 3rem auto;
  padding: 2rem 2rem 1rem;
  z-index: 11;
  position: relative;
  background-color: var(--secondary);
  animation: popup-scale 0.7s 1;
}
header ul.modal button.close {
  color: var(--subtitle);
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
header ul.modal button.close:hover {
  font-weight: 900;
  color: red;
  rotate: 180deg;
}
header ul.modal li {
  padding: 10px 5px;
}
header ul.modal li a {
  font-size: 1rem;
}
header ul.modal li:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

a.scroll2up {
  width: 40px;
  height: 40px;
  background-color: rgba(25, 118, 210, 0.7);
  border-radius: 50%;
  position: fixed;
  right: 3%;
  bottom: 2rem;
  transition: opacity 1s ease, background-color 0.3s ease;
  opacity: 0;
  z-index: 11;
}
a.scroll2up:hover {
  background-color: rgba(25, 118, 210, 1);
  /* border: 1px solid #fff; */
}
a.scroll2up span {
  color: var(--subtitle);
}
a.scroll2up:hover span {
  color: var(--title);
}
a.scroll2up.show {
  opacity: 1;
}
a.scroll2up.hide {
  opacity: 0;
}

/* 
  Animation
*/

@keyframes popup-scale {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

/* 
  Media
*/

@media (max-width: 767px) {
  header nav {
    display: none;
  }
  a.scroll2up {
    right: 1.5%;
    width: 35px;
    height: 305px;
  }
}
@media (min-width: 768px) {
  header .menu {
    display: none;
  }
  header nav {
    display: block;
  }
}
